In [133]:
import pandas as pd
import math 
import statistics 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [158]:
reviews_df = pd.read_csv("reviews.csv")
calendar_df = pd.read_csv("calendar.csv")
listings_df = pd.read_csv("listings.csv")
listings_df

,listing_id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,2.020000e+13,9/7/16,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,2.020000e+13,9/7/16,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,2.020000e+13,9/7/16,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,2.020000e+13,9/7/16,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,2.020000e+13,9/7/16,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,8373729,https://www.airbnb.com/rooms/8373729,2.020000e+13,9/7/16,Big cozy room near T,5 min walking to Orange Line subway with 2 sto...,NaN,5 min walking to Orange Line subway with 2 sto...,none,NaN,...,9.0,f,NaN,NaN,t,strict,f,f,8,0.34
3581,14844274,https://www.airbnb.com/rooms/14844274,2.020000e+13,9/7/16,BU Apartment DexterPark Bright room,"Most popular apartment in BU, best located in ...",Best location in BU,"Most popular apartment in BU, best located in ...",none,NaN,...,NaN,f,NaN,NaN,f,strict,f,f,2,NaN
3582,14585486,https://www.airbnb.com/rooms/14585486,2.020000e+13,9/7/16,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,Funky little apartment close to public transpo...,none,"Cambridge is a short walk into Boston, and set...",...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
3583,14603878,https://www.airbnb.com/rooms/14603878,2.020000e+13,9/7/16,Great Location; Train and Restaurants,"My place is close to Taco Loco Mexican Grill, ...",NaN,"My place is close to Taco Loco Mexican Grill, ...",none,NaN,...,7.0,f,NaN,NaN,f,strict,f,f,1,2.00
3584,14504422,https://www.airbnb.com/rooms/14504422,2.020000e+13,9/7/16,(K1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,My place is close to My home is a warm and fri...,none,NaN,...,NaN,f,NaN,NaN,t,flexible,f,f,3,NaN

In [159]:
mean = []
minimum = []
maximum = []
median = []
variance = []
std =  []
L = ["host_response_rate","host_listings_count",
"host_total_listings_count","accommodates","bathrooms",
     "bedrooms", "beds","price","weekly_price",
     "monthly_price","security_deposit","cleaning_fee","guests_included"
,"extra_people", "minimum_nights", "maximum_nights", 
     "availability_30", "availability_90",
"availability_365","number_of_reviews", 
     "review_scores_rating", "review_scores_accuracy",
"review_scores_cleanliness", "review_scores_checkin", 
     "review_scores_communication",
"review_scores_value", "reviews_per_month"]

for variable in L:
    if "rate" in variable:
        mean.append(np.mean(np.asarray(listings_df[variable].str.extract( '([0-9]+)\%').dropna()[0]).astype(int)))
        median.append(np.median(np.asarray(listings_df[variable].str.extract( '([0-9]+)\%').dropna()[0]).astype(int)))
        minimum.append(min(np.asarray(listings_df[variable].str.extract( '([0-9]+)\%').dropna()[0]).astype(int)))
        maximum.append(max(np.asarray(listings_df[variable].str.extract( '([0-9]+)\%').dropna()[0]).astype(int)))            
        variance.append(np.var(np.asarray(listings_df[variable].str.extract( '([0-9]+)\%').dropna()[0]).astype(int)))
        std.append(np.std(np.asarray(listings_df[variable].str.extract( '([0-9]+)\%').dropna()[0]).astype(int)))
 
    elif "extra_people" in variable or "cleaning" in variable or "security_deposit" in variable or "price" in variable:
        mean.append(np.mean(np.asarray(listings_df[variable].astype(str).str.extract( '\$([0-9]+)').dropna()[0]).astype(int)))
        median.append(np.median(np.asarray(listings_df[variable].str.extract( '\$([0-9]+)').dropna()[0]).astype(int)))
        minimum.append(min(np.asarray(listings_df[variable].str.extract( '\$([0-9]+)').dropna()[0]).astype(int)))
        maximum.append(max(np.asarray(listings_df[variable].str.extract( '\$([0-9]+)').dropna()[0]).astype(int)))            
        variance.append(np.var(np.asarray(listings_df[variable].str.extract( '\$([0-9]+)').dropna()[0]).astype(int)))
        std.append(np.std(np.asarray(listings_df[variable].str.extract( '\$([0-9]+)').dropna()[0]).astype(int)))
   
    else:
        mean.append(np.mean(np.asarray(listings_df[variable].dropna()).astype(int)))
        median.append(np.median(np.asarray(listings_df[variable].dropna()).astype(int)))
        minimum.append(np.min(np.asarray(listings_df[variable].dropna()).astype(int)))
        maximum.append(np.max(np.asarray(listings_df[variable].dropna()).astype(int)))            
        variance.append(np.var(np.asarray(listings_df[variable].dropna()).astype(int)))
        std.append(np.std(np.asarray(listings_df[variable].dropna()).astype(int)))

## Q2 Descriptive Statistics

In [157]:
df = {"Variable": L, "Minimum": minimum, "Maximum":maximum, "Mean": mean, "Median": median, "Variance": variance, "Std Deviation":std}
pd.DataFrame(df)

,Variable,Minimum,Maximum,Mean,Median,Variance,Std Deviation
0,host_response_rate,0,100,94.989082,100.0,1.566421e+02,1.251568e+01
1,host_listings_count,0,749,58.902371,2.0,2.927377e+04,1.710958e+02
2,host_total_listings_count,0,749,58.902371,2.0,2.927377e+04,1.710958e+02
3,accommodates,1,16,3.041283,2.0,3.163707e+00,1.778681e+00
4,bathrooms,0,6,1.180062,1.0,2.221284e-01,4.713050e-01
5,bedrooms,0,5,1.255944,1.0,5.669402e-01,7.529543e-01
6,beds,0,16,1.609060,1.0,1.023341e+00,1.011603e+00
7,price,1,999,168.511576,150.0,1.252031e+04,1.118942e+02
8,weekly_price,1,999,360.123318,400.0,9.808435e+04,3.131842e+02
9,monthly_price,1,980,44.533784,3.0,3.299851e+04,1.816549e+02
10,security_deposit,1,950,252.782414,200.0,2.801608e+04,1.673800e+02
11,cleaning_fee,5,300,68.380145,50.0,2.630406e+03,5.128748e+01
12,guests_included,0,14,1.429847,1.0,1.116487e+00,1.056640e+00
13,extra_people,0,200,10.886192,0.0,3.661522e+02,1.913510e+01
14,minimum_nights,1,300,3.171269,2.0,7.872827e+01,8.872895e+00
15,maximum_nights,1,99999999,28725.836820,1125.0,2.788576e+12,1.669903e+06
16,availability_30,0,30,8.649930,4.0,1.088657e+02,1.043387e+01
17,availability_90,0,90,38.558159,37.0,1.099164e+03,3.315365e+01
18,availability_365,0,365,179.346444,179.0,2.019706e+04,1.421164e+02
19,number_of_reviews,0,404,19.044630,5.0,1.264990e+03,3.556670e+01
20,review_scores_rating,20,100,91.916667,94.0,9.082026e+01,9.529966e+00
21,review_scores_accuracy,2,10,9.431571,10.0,8.680547e-01,9.316945e-01
22,review_scores_cleanliness,2,10,9.258041,10.0,1.366013e+00,1.168766e+00
23,review_scores_checkin,2,10,9.646293,10.0,5.815821e-01,7.626153e-01
24,review_scores_communication,4,10,9.646549,10.0,5.407750e-01,7.353741e-01
25,review_scores_value,2,10,9.168234,9.0,1.021987e+00,1.010934e+00
26,reviews_per_month,0,19,1.555320,1.0,4.437820e+00,2.106613e+00

In [137]:
#The odd thing about this data is how the maximum is coded with 9999 for many variables such as price, weekly price, and maximum nights. This could be an indication of missing data or a different meaning.

## Q3

In [138]:
import nltk
#nltk.download('punkt')


#from text blob 
from textblob import TextBlob 
import pandas as pd 
 
from nltk.corpus import subjectivity
from nltk.sentiment import SentimentAnalyzer 
from nltk.sentiment.util import* 
from nltk.sentiment.vader import SentimentIntensityAnalyzer
 
from nltk import tokenize 

sentiment_analysis_columns = ['negativity', 'neutrality', 'positivity', 'compound']

file_names = ["reviews"]

sid = SentimentIntensityAnalyzer()

for i in range(len(file_names)):
    expanded_text_dataset = []
    file_name = file_names[i]
    print('Sentiment analysis for: %s' %file_name)
    file_df = pd.read_csv('%s.csv' % file_name)
    column_names = list(file_df.columns.values)
    all_columns = column_names + sentiment_analysis_columns
    text_segment_list = list(file_df['comments'])
    for j in range(len(text_segment_list)):
        row_info = list(file_df.iloc[j])
        text = text_segment_list[j]
        ##Sentiment analysis
        try:
            ss = sid.polarity_scores(text)
            negativity = ss['neg']
            neutrality = ss['neu']
            positivity = ss['pos']
            compound = ss['compound']
            temp_data = row_info + [negativity, neutrality, positivity, compound]
            expanded_text_dataset.append(temp_data)
        except:
            print('Sentiment analysis not done: ' + str(i) + ' / ' + str(len(file_df)))
            temp_data = row_info + ['NA', 'NA', 'NA', 'NA']
            expanded_text_dataset.append(temp_data)
    ##Storing the results in a dataset
    sentiment_dataset_df = pd.DataFrame(expanded_text_dataset, columns = all_columns)
    sentiment_dataset_df.to_excel('%s_sentiment_analysis.xlsx' %file_name)

Sentiment analysis for: reviews
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275
Sentiment analysis not done: 0 / 68275

In [139]:
positive = pd.read_csv("positive_words.csv")
negative = pd.read_csv("negative_words.csv")

In [140]:
positiveL = []
negativeL = []
for item in positive["positive_words"]:
    positiveL.append(item)

for item in negative["negative_words"]:
    negativeL.append(item)

In [141]:
sentiment_analysis_columns = ['NumberOfWords', "NumberOfPositive", "NumberOfNegative"]

positive_simple = []
negative_simple = []

reviews_df["comments"] = reviews_df["comments"].astype(str)

comment_list = list(reviews_df["comments"])
for i in range(len(comment_list)):
    NumberOfWords = len(comment_list[i].split(" "))
    count = 0
    for j in range(len(positiveL)): 
        if positiveL[j] in comment_list[i]:
            count += 1
    positive_simple.append(count/NumberOfWords)
    for n in range(len(negativeL)):
        if negativeL[n] in comment_list[i]:
            count += 1
    negative_simple.append(count/NumberOfWords)

In [142]:
reviews_df["positivity_simple"] = positive_simple
reviews_df["negativity_simple"] = negative_simple

In [143]:
neg = []
pos = []
neut= []
comp = []
pos_sim = []
neg_sim = []

for value in sentiment_dataset_df["negativity"]:
    neg.append(float(value if value != 'NA' else 'nan'))
for value in sentiment_dataset_df["positivity"]:
    pos.append(float(value if value != 'NA' else 'nan'))
for value in sentiment_dataset_df["compound"]:
    comp.append(float(value if value != 'NA' else 'nan'))
for value in sentiment_dataset_df["neutrality"]:
    neut.append(float(value if value != 'NA' else 'nan'))
for value in reviews_df["positivity_simple"]:
    pos_sim.append(float(value if value != 'NA' else 'nan'))
for value in reviews_df["negativity_simple"]:
    neg_sim.append(float(value if value != 'NA' else 'nan'))

In [144]:
sentiment_dataset_df["negativity"] = neg
sentiment_dataset_df["positivity"] = pos
sentiment_dataset_df["compound"] = comp
sentiment_dataset_df["positivity_simple"] = pos_sim
sentiment_dataset_df["negativity_simple"] = neg_sim
sentiment_dataset_df["neutrality"] = neut

In [96]:
#sentiment_dataset_df["negativity"] = sentiment_dataset_df["negativity"].astype(float)

In [97]:
#reviews_df["negativity_mean"] = sentiment_dataset_df.groupby("listing_id")['negativity'].mean()

In [145]:
Listings_neg_mean = sentiment_dataset_df.groupby("listing_id")['negativity'].mean().to_frame()
Listings_pos_mean = sentiment_dataset_df.groupby("listing_id")['positivity'].mean().to_frame()
Listings_pos_sim_mean = sentiment_dataset_df.groupby("listing_id")["positivity_simple"].mean().to_frame()
Listings_neg_sim_mean = sentiment_dataset_df.groupby("listing_id")["negativity_simple"].mean().to_frame()
Listings_comp_mean = sentiment_dataset_df.groupby("listing_id")['compound'].mean().to_frame()
Listings_neut_mean = sentiment_dataset_df.groupby("listing_id")['neutrality'].mean().to_frame()

In [146]:
Listings_neg_mean.reset_index(inplace = True)
Listings_neg_mean.rename(columns = {"negativity": "negativity_mean"}, inplace = True)

Listings_pos_mean.reset_index(inplace = True)
Listings_pos_mean.rename(columns = {"positivity": "positivity_mean"}, inplace = True)

Listings_pos_sim_mean.reset_index(inplace = True)
Listings_pos_sim_mean.rename(columns = {"positivity_simple": "positivity_simple_mean"}, inplace = True)

Listings_neg_sim_mean.reset_index(inplace = True)
Listings_neg_sim_mean.rename(columns = {"negitivity_simple": "negitivity_simple_mean"}, inplace = True)

Listings_comp_mean.reset_index(inplace = True)
Listings_comp_mean.rename(columns = {"compound": "compound_mean"}, inplace = True)

Listings_neut_mean.reset_index(inplace = True)
Listings_neut_mean.rename(columns = {"neutrality": "neutrality_mean"}, inplace = True)

In [100]:
#Listings_neg_sim_mean.drop('index', axis = 1, inplace = True)

In [147]:
new = pd.merge(sentiment_dataset_df, Listings_neg_mean, on='listing_id')
new2 = pd.merge(new, Listings_pos_mean, on='listing_id')
new3 = pd.merge(new2, Listings_pos_sim_mean, on='listing_id' ) 
new4 = pd.merge(new3,Listings_neg_sim_mean, on='listing_id' ) 
new5 = pd.merge(new4, Listings_comp_mean, on='listing_id')
reviews_df = pd.merge(new5, Listings_neut_mean, on = "listing_id")

In [148]:
listings_df["listing_id"] = listings_df["listing_id"].astype(str)

In [149]:
listings_df["listing_id"] = listings_df["listing_id"].astype(int)

In [150]:
airbnb_df = pd.merge(listings_df, reviews_df, on='listing_id')

In [151]:
airbnb_df["price"] = airbnb_df["price"].str.extract( '\$([0-9]+\.[0-9]+)').astype(float)
airbnb_df["weekly_price"] = airbnb_df["weekly_price"].str.extract( '\$([0-9]+\.[0-9]+)').astype(float)
airbnb_df["monthly_price"] = airbnb_df["monthly_price"].str.extract( '\$([0-9]+\.[0-9]+)').astype(float)
airbnb_df["security_deposit"] = airbnb_df["security_deposit"].str.extract( '\$([0-9]+\.[0-9]+)').astype(float)
airbnb_df["cleaning_fee"] = airbnb_df["cleaning_fee"].str.extract( '\$([0-9]+\.[0-9]+)').astype(float)
airbnb_df["extra_people"] = airbnb_df["extra_people"].str.extract( '\$([0-9]+\.[0-9]+)').astype(float)
airbnb_df["host_response_rate"] = airbnb_df["host_response_rate"].str.extract( '([0-9]+)\%').astype(float)

In [152]:
airbnb_filtered_df = airbnb_df.filter(["listing_id","host_response_rate","price","review_scores_communication","review_scores_accuracy","review_scores_cleanliness","review_scores_checkin","review_scores_rating", "positivity_mean","negativity_mean","positivity_simple_mean","negativity_simple_y"])

In [153]:
airbnb_filtered_df.drop_duplicates(inplace = True)

In [154]:
airbnb_filtered_df.reset_index(inplace=True)

In [167]:
mean = []
minimum = []
maximum = []
median = []
variance = []
std =  []
L = ["listing_id","host_response_rate","price","review_scores_communication","review_scores_accuracy",
     "review_scores_cleanliness","review_scores_checkin","review_scores_rating", "positivity_mean",
     "negativity_mean","positivity_simple_mean","negativity_simple_y"]

for variable in L:
    mean.append(np.mean(np.asarray(airbnb_filtered_df[variable].dropna()[0])))
    median.append(np.median(np.asarray(airbnb_filtered_df[variable].dropna()[0])))
    minimum.append(min(np.asarray(airbnb_filtered_df[variable])))
    maximum.append(max(np.asarray(airbnb_filtered_df[variable])))            
    variance.append(np.var(np.asarray(airbnb_filtered_df[variable].dropna()[0])))
    std.append(np.std(np.asarray(airbnb_filtered_df[variable].dropna()[0])))
    
df = {"Variable": L, "Minimum": minimum, "Maximum":maximum, "Mean": mean, "Median": median, "Variance": variance, "Std Deviation":std}
pd.DataFrame(df)

,Variable,Minimum,Maximum,Mean,Median,Variance,Std Deviation
0,listing_id,3353.0,1.484378e+07,3.075044e+06,3.075044e+06,0.0,0.0
1,host_response_rate,0.0,1.000000e+02,1.000000e+02,1.000000e+02,0.0,0.0
2,price,11.0,8.490000e+02,6.500000e+01,6.500000e+01,0.0,0.0
3,review_scores_communication,4.0,1.000000e+01,1.000000e+01,1.000000e+01,0.0,0.0
4,review_scores_accuracy,2.0,1.000000e+01,1.000000e+01,1.000000e+01,0.0,0.0
5,review_scores_cleanliness,2.0,1.000000e+01,9.000000e+00,9.000000e+00,0.0,0.0
6,review_scores_checkin,2.0,1.000000e+01,1.000000e+01,1.000000e+01,0.0,0.0
7,review_scores_rating,20.0,1.000000e+02,9.400000e+01,9.400000e+01,0.0,0.0
8,positivity_mean,0.0,8.450000e-01,3.219444e-01,3.219444e-01,0.0,0.0
9,negativity_mean,0.0,4.620000e-01,1.400000e-02,1.400000e-02,0.0,0.0
10,positivity_simple_mean,0.0,1.000000e+00,1.505433e-01,1.505433e-01,0.0,0.0
11,negativity_simple_y,0.0,1.000000e+00,1.975594e-01,1.975594e-01,0.0,0.0

In [155]:
airbnb_filtered_df

,index,listing_id,host_response_rate,price,review_scores_communication,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_rating,positivity_mean,negativity_mean,positivity_simple_mean,negativity_simple_y
0,0,3075044,100.0,65.0,10.0,10.0,9.0,10.0,94.0,0.321944,0.014000,0.150543,0.197559
1,36,6976,100.0,65.0,10.0,10.0,9.0,10.0,98.0,0.264659,0.010854,0.135059,0.183297
2,77,1436513,100.0,75.0,10.0,10.0,10.0,10.0,100.0,0.484000,0.000000,0.291667,0.333333
3,78,7651065,100.0,79.0,10.0,10.0,10.0,10.0,99.0,0.273897,0.017034,0.160644,0.206119
4,107,12386020,100.0,75.0,10.0,10.0,10.0,10.0,100.0,0.236125,0.007750,0.129406,0.171314
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824,68260,14743129,100.0,68.0,6.0,8.0,8.0,8.0,80.0,0.607000,0.000000,0.333333,0.333333
2825,68261,5280827,96.0,69.0,10.0,8.0,7.0,9.0,70.0,0.252333,0.022167,0.104452,0.135186
2826,68267,14536322,100.0,85.0,10.0,10.0,10.0,10.0,100.0,0.470500,0.000000,0.219298,0.285088
2827,68269,8373729,96.0,69.0,10.0,10.0,10.0,10.0,90.0,0.219500,0.019000,0.091526,0.135834
2828,68273,14603878,100.0,65.0,9.0,9.0,8.0,9.0,90.0,0.279500,0.000000,0.164583,0.202083

In [109]:

##Training a regression model

##Let's check if Age is a good predictor of Fare in a regression setting

my_data_no_NA = airbnb_filtered_df.dropna()


X = my_data_no_NA[["host_response_rate", "review_scores_rating","review_scores_accuracy",
                   "review_scores_cleanliness","review_scores_checkin","review_scores_communication",
                   "positivity_mean","negativity_mean","positivity_simple_mean","negativity_simple_y" ]].values

y = my_data_no_NA['price'].values

In [110]:
##Train Test Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

##30% of data goes to the test data and the rest remains in the training set

##Let's check how our training and test observations look like

#print(X_train, "train")
#print(X_test)
#print(y_train, "train")
#print(y_test)

In [111]:
##Creating and Training the Model
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, y_train)

##Predictions from our Model
predictions = lm.predict(X_test)

In [112]:
##Let's check what the error says

##So, let's reshape our data

y_train = np.array(y_train).reshape(-1,1)
y_test = np.array(y_test).reshape(-1,1)

print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

##And fit it again
airbnb_reg = lm.fit(X_train, y_train)

##Let's get the coefficients a and b for our y = a + bx model
a = airbnb_reg.intercept_
b = airbnb_reg.coef_

(1779, 10) (763, 10)
(1779, 1) (763, 1)

In [113]:
print('Here is the intercept:')
print(a)

print('Here are the slopes:')
print(b)


##Predictions from our Model
airbnb_real_outcome_values = y_test
airbnb_pred = lm.predict(X_test)

Here is the intercept:
[138.94189199]
Here are the slopes:
[[-1.67743773e-02  1.54486556e+00 -9.55151641e+00  1.49385372e+01
  -1.42617475e+01 -6.43753071e+00  8.49434823e+01  7.71221868e+00
  -6.37564819e+02  5.43402014e+02]]

In [114]:
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': airbnb_pred.flatten()})
df

     Actual   Predicted
0      45.0  161.857741
1     100.0  150.101170
2      85.0  169.506269
3     175.0  164.132681
4     150.0  182.673336
..      ...         ...
758   200.0  169.726083
759   197.0  175.311120
760    88.0  177.911599
761    68.0  136.429203
762   150.0  186.720127

[763 rows x 2 columns]

In [115]:
#R squared

def rsq(df):
    RSS = 0
    TSS = 0
    for i in range(len(df)):
        RSS += ((df["Actual"][i] - df["Predicted"][i])**2) 
        TSS += ((df["Actual"][i] - np.mean(df["Actual"]))**2)
    rsq = 1-RSS/TSS
    return rsq, RSS

print('R2 value for Airbnb dataset prediction:')
rsq(df)[0]

R2 value for Airbnb dataset prediction:

0.06004476931163527

In [116]:
print('MSE value for Airbnb dataset prediction:')

#MSE
def MSE(df, RSS):
    return 1/len(df)*RSS
MSE(df,rsq(df)[1])

MSE value for Airbnb dataset prediction:

11567.252948164274

In [117]:
print('Root MSE value for Airbnb dataset prediction:')
#root MSE
def RootMSE(df, RSS):
    return 1/len(df) * math.sqrt(RSS)
RootMSE(df,rsq(df)[1])

Root MSE value for Airbnb dataset prediction:

3.893613574641101

In [118]:
def MAPE(df):
    MAPE = 0
    for i in range(len(df)):
        MAPE += abs((df["Actual"][i] - df["Predicted"][i])/df["Actual"][i])
    return MAPE/len(df) *100
print('MAPE % value for Airbnb dataset prediction:')
MAPE(df)

MAPE % value for Airbnb dataset prediction:

67.39302783089343

In [119]:
#price_points = []


#for i in range(len(airbnb_filtered_df)):
#    price_points.append((-1.67743773e-02 * airbnb_filtered_df["host_response_rate"][i]) + (1.54486556e+00 * airbnb_filtered_df["review_scores_rating"][i]) + (-9.55151641e+00 * airbnb_filtered_df[ "review_scores_accuracy"][i] ) + (1.49385372e+01 * airbnb_filtered_df["review_scores_cleanliness"][i]) + ( -1.42617475e+01 * airbnb_filtered_df["review_scores_checkin"][i]) + (-6.43753071e+00 * airbnb_filtered_df["review_scores_communication"][i]) + (8.49434823e+01 * airbnb_filtered_df["positivity_mean"][i])+( 7.71221868e+00* airbnb_filtered_df["negativity_mean"][i])+(-6.37564819e+02 * airbnb_filtered_df["positivity_simple_mean"][i] )+( 5.43402014e+02 * airbnb_filtered_df["negativity_simple_y"][i])+138.94189199 )

In [120]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5)
kf.get_n_splits(X)
print(kf)

for train_i, test_i in kf.split(X):
    #print("TRAIN:", train_i, "TEST:", test_i)
    X_train, X_test = X[train_i], X[test_i]
    y_train, y_test = y[train_i], y[test_i]
    
airbnb_reg1 = lm.fit(X_train, y_train)
airbnb_predictions1 = lm.predict(X_test)

KFold(n_splits=5, random_state=None, shuffle=False)

In [121]:
df1 = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': airbnb_predictions1.flatten()})
df1

     Actual   Predicted
0      65.0  171.257000
1      60.0  170.294574
2      85.0  192.401685
3      75.0  172.696667
4      75.0  165.719464
..      ...         ...
503    68.0  178.121527
504    69.0  117.689917
505    85.0  193.359740
506    69.0  162.979203
507    65.0  156.443105

[508 rows x 2 columns]

In [122]:
rsq(df1)[0]

0.00157019142877024

In [123]:
MSE(df1,rsq(df1)[1])

11043.37467058465

In [124]:
RootMSE(df1,rsq(df1)[1])

4.662502173393479

In [125]:
MAPE(df1)

92.90972709815577

In [126]:
from sklearn.model_selection import LeaveOneOut 
import sklearn.model_selection
import numpy
loo = LeaveOneOut()
loo.get_n_splits(X)

result_list = []
predict_list = []
for train_index, test_index in loo.split(X):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    result_list.append(int(y_test))
    predict_list.append(int(lm.predict(X_test)))

airbnb_reg3 = lm.fit(X_train, y_train)
airbnb_predictions3 = lm.predict((X_test))
#airbnb_predictions3

In [127]:
df4 = pd.DataFrame({'Actual': result_list, 'Predicted': predict_list})
df4

      Actual  Predicted
0         65        158
1         65        162
2         75        177
3         79        176
4         75        175
...      ...        ...
2537      68        178
2538      69        117
2539      85        193
2540      69        162
2541      65        156

[2542 rows x 2 columns]

In [128]:
rsq(df4)[0]

0.04454266250199501

In [129]:
MSE(df4,rsq(df4)[1])

11181.547600314712

In [130]:
RootMSE(df4,rsq(df4)[1])

2.0973126936953412

In [131]:
MAPE(df4)

70.29711962608663

In [132]:
df3 = pd.DataFrame({'Actual': y_test[0], 'Predicted': airbnb_predictions3})
df3

   Actual   Predicted
0    65.0  151.906922

In [87]:
my_data_no_NA = airbnb_filtered_df.dropna()


X = my_data_no_NA[["host_response_rate", "review_scores_rating","review_scores_accuracy",
                   "review_scores_cleanliness","review_scores_checkin","review_scores_communication",
                   "positivity_mean","negativity_mean","positivity_simple_mean","negativity_simple_y" ]].values

y = my_data_no_NA['price'].values

In [88]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [89]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 
  
X_train = sc.fit_transform(X_train) 
X_test = sc.transform(X_test)

In [90]:
from sklearn.decomposition import PCA 
  
pca = PCA(n_components = 3) 
  
X_train = pca.fit_transform(X_train) 
X_test = pca.transform(X_test) 
  
explained_variance = pca.explained_variance_ratio_

In [91]:
from sklearn.linear_model import LogisticRegression   
  
classifier = LogisticRegression(random_state = 101, max_iter = 100) 
classifier.fit(X_train, y_train)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=101)

In [92]:
y_pred = classifier.predict(X_test)

In [93]:
rsq(df1)[0]

0.00157019142877024

In [94]:
airbnb_mean_squared_error = mean_squared_error(y_test, y_pred)

NameError: name 'mean_squared_error' is not defined

In [ ]:
print(airbnb_mean_squared_error)

In [ ]:
airbnb_r2 = r2_score(y_test, y_pred)
print(airbnb_r2)

In [ ]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

mean_absolute_percentage_error(y_test, y_pred)

In [ ]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())
rmse(y_pred, y_test)

In [ ]:
comp = airbnb_df["compound"].to_frame()

In [ ]:
comp.reset_index(inplace = True)

In [ ]:
comp1 = []
for i in range(len(comp)):
    comp1.append(comp['compound'][i])

In [ ]:
sns.set_context('paper')

categoryCompound1 = []
categoryCompound0 = []

for item in comp1:
    if item > 0:
        categoryCompound1.append("Greater Than Zero")
    else:
        categoryCompound0.append("Less Than Zero")
count = [5139, 63136]
category = ["Less Than Zero"," Greater Than Zero"]

In [ ]:
sns.barplot(x = category , y = count)

plt.show()

In [ ]:
import seaborn as sns; sns.set(style="ticks", color_codes=True)

g = sns.pairplot(airbnb_filtered_df,corner=True,kind="reg")